@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: hsl(0, 50%, 25%);
   line-height: 1.5;
}

h1{
   font-family: cursive; 
}

h1 + div{
   box-shadow: 0px .5em 1em rgba(0,0,0,0.5);
}

.cycles::before {
    content: "Cycle #";
}