@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: hsl(0, 50%, 25%);
   line-height: 1.5;
}

h1{
   font-family: cursive; 
}

h1 + div{
   box-shadow: 0px .5em 1em rgba(0,0,0,0.5);
}

label::after{
   content: ' (em minutos)';
   font-weight: 300;
}

.cycles::before {
    content: "Cycle #";
}

.restore{
   animation-name: backToRed;
   animation-duration: 1.5s;
   animation-timing-function: ease-in-out;
   animation-direction: normal;
   animation-fill-mode: forwards;
}

@keyframes backToRed{
   to{
      background-color: hsl(0, 50%, 25%)
   }
}

.rotate{
   animation-name: rotate;
   animation-duration: 2s;
   animation-timing-function: cubic-bezier(0.80, 0.95, 0.15, 1.50);
   animation-direction: normal;
   animation-fill-mode: forwards;
   transform-origin: center;
}

@keyframes rotate{
   to{
      transform: rotate(1turn);
   }
}

.unrotate{
   animation-name: unrotate;
   animation-duration: 2s;
   animation-timing-function: cubic-bezier(0.80, 0.95, 0.15, 1.50);
   animation-direction: normal;
   animation-fill-mode: forwards;
   transform-origin: center;
}

@keyframes unrotate{
   to{
      transform: rotate(-1turn);
   }
}