@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: hsl(0, 54%, 54%);
   font-family: cursive;
}

body > h1{
   text-align: center;
   font-size: 3em;
}

.box{
   width: 80%;
   text-align: center;
   margin: 0 auto;
   padding: 2em 1em;
   background-color: #FFFFFF33;
}

.start{
   border: none;
   border-radius: 0.5em;
   border-bottom: 5px solid #AAA;
   color: #C84949;
   background-color: #ddd;
   padding: 1em 2em;
   text-transform: uppercase;
   font-size: 1em;
   cursor: pointer;
}

.timer {
    font-size: 5em;
    margin: 0 0 1rem;
    font-weight: 300;
}

.cycles {
    margin: 1em;
    text-align: center;
}

.cycles::before {
    content: "Cycle #";
}